# Covid-19 project: Data preparation (part 1)

In [1]:
# Import packages

import pandas as pd
import numpy as np

<b>Accessing data from the John Hopkins University </b>
<br>
Source: COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University <br>
https://github.com/CSSEGISandData/COVID-19

In [3]:
## Load data
updated_data_confirmed = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
updated_data_deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
updated_data_recovered = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")

## Save data to csv-file
updated_data_confirmed.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/data_confirmed.csv", index=False)
updated_data_deaths.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/data_deaths.csv", index=False)
updated_data_recovered.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/data_recovered.csv", index=False)

## Read saved csv-files
confirmed_global = pd.read_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/data_confirmed.csv")
deaths_global = pd.read_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/data_deaths.csv")
recovered_global = pd.read_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/data_recovered.csv")

confirmed_global.shape
# Output: (273, 387) -> 08.02.2021
confirmed_global.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,54939,55008,55023,55059,55121,55174,55231,55265,55330,55335
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,76350,77251,78127,78992,79934,80941,81993,83082,84212,85336
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,106887,107122,107339,107578,107841,108116,108381,108629,108629,109088
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,9837,9885,9937,9972,10017,10070,10137,10172,10206,10251
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,19723,19782,19796,19829,19900,19937,19996,20030,20062,20086

In [5]:
deaths_global.shape
# Output: (273, 387) -> 08.02.2021
deaths_global.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2399,2400,2400,2404,2405,2406,2407,2407,2408,2410
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1358,1369,1380,1393,1398,1404,1418,1433,1446,1460
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2884,2888,2891,2894,2898,2900,2904,2909,2909,2914
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,100,101,101,101,102,103,103,104,105,106
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,464,464,466,466,468,470,473,474,475,475

In [7]:
#recovered_global.shape
# Output: (258, 387) -> less countries provide information on recovered patients? See below
recovered_global.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,47606,47609,47679,47723,47798,47982,47995,48018,48027,48041
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,46420,46927,47424,47922,48377,48958,49543,50219,50875,51444
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,72956,73152,73344,73530,73732,73940,74136,74330,74330,74692
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,8986,9045,9093,9206,9252,9313,9395,9444,9492,9533
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,17918,18015,18035,18180,18232,18335,18381,18431,18475,18540

<b> Check on NaN values </b>

In [9]:
deaths_global.info(verbose=True, null_counts=True)
# Province/State: 84 non-null -> countries divided into provinces

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 387 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  84 non-null     object
 1   Country/Region  273 non-null    object
 2   Lat             272 non-null    float64
 3   Long            272 non-null    float64
 4   1/22/20         273 non-null    int64
 5   1/23/20         273 non-null    int64
 6   1/24/20         273 non-null    int64
 7   1/25/20         273 non-null    int64
 8   1/26/20         273 non-null    int64
 9   1/27/20         273 non-null    int64
 10  1/28/20         273 non-null    int64
 11  1/29/20         273 non-null    int64
 12  1/30/20         273 non-null    int64
 13  1/31/20         273 non-null    int64
 14  2/1/20          273 non-null    int64
 15  2/2/20          273 non-null    int64
 16  2/3/20          273 non-null    int64
 17  2/4/20          273 non-null    int64
 18  2/5/20          273 non-null    int64
 19  2/6/20          273 non-null    int64
 20  2/7/20          273 non-null    int64
 21  2/8/20          273 non-null    int64
 22  2/9/20          273 non-null    int64
 23  2/10/20         273 non-null    int64
 24  2/11/20         273 non-null    int64
 25  2/12/20         273 non-null    int64
 26  2/13/20         273 non-null    int64
 27  2/14/20         273 non-null    int64
 28  2/15/20         273 non-null    int64
 29  2/16/20         273 non-null    int64
 30  2/17/20         273 non-null    int64
 31  2/18/20         273 non-null    int64
 32  2/19/20         273 non-null    int64
 33  2/20/20         273 non-null    int64
 34  2/21/20         273 non-null    int64
 35  2/22/20         273 non-null    int64
 36  2/23/20         273 non-null    int64
 37  2/24/20         273 non-null    int64
 38  2/25/20         273 non-null    int64
 39  2/26/20         273 non-null    int64
 40  2/27/20         273 non-null    int64
 41  2/28/20         273 non-null    int64
 42  2/29/20         273 non-null    int64
 43  3/1/20          273 non-null    int64
 44  3/2/20          273 non-null    int64
 45  3/3/20          273 non-null    int64
 46  3/4/20          273 non-null    int64
 47  3/5/20          273 non-null    int64
 48  3/6/20          273 non-null    int64
 49  3/7/20          273 non-null    int64
 50  3/8/20          273 non-null    int64
 51  3/9/20          273 non-null    int64
 52  3/10/20         273 non-null    int64
 53  3/11/20         273 non-null    int64
 54  3/12/20         273 non-null    int64
 55  3/13/20         273 non-null    int64
 56  3/14/20         273 non-null    int64
 57  3/15/20         273 non-null    int64
 58  3/16/20         273 non-null    int64
 59  3/17/20         273 non-null    int64
 60  3/18/20         273 non-null    int64
 61  3/19/20         273 non-null    int64
 62  3/20/20         273 non-null    int64
 63  3/21/20         273 non-null    int64
 64  3/22/20         273 non-null    int64
 65  3/23/20         273 non-null    int64
 66  3/24/20         273 non-null    int64
 67  3/25/20         273 non-null    int64
 68  3/26/20         273 non-null    int64
 69  3/27/20         273 non-null    int64
 70  3/28/20         273 non-null    int64
 71  3/29/20         273 non-null    int64
 72  3/30/20         273 non-null    int64
 73  3/31/20         273 non-null    int64
 74  4/1/20          273 non-null    int64
 75  4/2/20          273 non-null    int64
 76  4/3/20          273 non-null    int64
 77  4/4/20          273 non-null    int64
 78  4/5/20          273 non-null    int64
 79  4/6/20          273 non-null    int64
 80  4/7/20          273 non-null    int64
 81  4/8/20          273 non-null    int64
 82  4/9/20          273 non-null    int64
 83  4/10/20         273 non-null    int64
 84  4/11/20         273 non-null    int64
 85  4/12/20         273 non-null    int64
 86  4/13/20         273 non-null    int64
 87  4/14/20         273 non-null    int64
 88  4/15/20         273 non-null    int64
 89  4/16/20         273 non-null    int64
 90  4/17/20         273 non-null    int64
 91  4/18/20         273 non-null    int64
 92  4/19/20         273 non-null    int64
 93  4/20/20         273 non-null    int64
 94  4/21/20         273 non-null    int64
 95  4/22/20         273 non-null    int64
 96  4/23/20         273 non-null    int64
 97  4/24/20         273 non-null    int64
 98  4/25/20         273 non-null    int64
 99  4/26/20         273 non-null    int64
 100 4/27/20         273 non-null    int64
 101 4/28/20         273 non-null    int64
 102 4/29/20         273 non-null    int64
 103 4/30/20         273 non-null    int64
 104 5/1/20          273 non-null    int64
 105 5/2/20          273 non-null    int64
 106 5/3/20          273 non-null    int64
 107 5/4/20          273 non-null    int64
 108 5/5/20          273 non-null    int64
 109 5/6/20          273 non-null    int64
 110 5/7/20          273 non-null    int64
 111 5/8/20          273 non-null    int64
 112 5/9/20          273 non-null    int64
 113 5/10/20         273 non-null    int64
 114 5/11/20         273 non-null    int64
 115 5/12/20         273 non-null    int64
 116 5/13/20         273 non-null    int64
 117 5/14/20         273 non-null    int64
 118 5/15/20         273 non-null    int64
 119 5/16/20         273 non-null    int64
 120 5/17/20         273 non-null    int64
 121 5/18/20         273 non-null    int64
 122 5/19/20         273 non-null    int64
 123 5/20/20         273 non-null    int64
 124 5/21/20         273 non-null    int64
 125 5/22/20         273 non-null    int64
 126 5/23/20         273 non-null    int64
 127 5/24/20         273 non-null    int64
 128 5/25/20         273 non-null    int64
 129 5/26/20         273 non-null    int64
 130 5/27/20         273 non-null    int64
 131 5/28/20         273 non-null    int64
 132 5/29/20         273 non-null    int64
 133 5/30/20         273 non-null    int64
 134 5/31/20         273 non-null    int64
 135 6/1/20          273 non-null    int64
 136 6/2/20          273 non-null    int64
 137 6/3/20          273 non-null    int64
 138 6/4/20          273 non-null    int64
 139 6/5/20          273 non-null    int64
 140 6/6/20          273 non-null    int64
 141 6/7/20          273 non-null    int64
 142 6/8/20          273 non-null    int64
 143 6/9/20          273 non-null    int64
 144 6/10/20         273 non-null    int64
 145 6/11/20         273 non-null    int64
 146 6/12/20         273 non-null    int64
 147 6/13/20         273 non-null    int64
 148 6/14/20         273 non-null    int64
 149 6/15/20         273 non-null    int64
 150 6/16/20         273 non-null    int64
 151 6/17/20         273 non-null    int64
 152 6/18/20         273 non-null    int64
 153 6/19/20         273 non-null    int64
 154 6/20/20         273 non-null    int64
 155 6/21/20         273 non-null    int64
 156 6/22/20         273 non-null    int64
 157 6/23/20         273 non-null    int64
 158 6/24/20         273 non-null    int64
 159 6/25/20         273 non-null    int64
 160 6/26/20         273 non-null    int64
 161 6/27/20         273 non-null    int64
 162 6/28/20         273 non-null    int64
 163 6/29/20         273 non-null    int64
 164 6/30/20         273 non-null    int64
 165 7/1/20          273 non-null    int64
 166 7/2/20          273 non-null    int64
 167 7/3/20          273 non-null    int64
 168 7/4/20          273 non-null    int64
 169 7/5/20          273 non-null    int64
 170 7/6/20          273 non-null    int64
 171 7/7/20          273 non-null    int64
 172 7/8/20          273 non-null    int64
 173 7/9/20          273 non-null    int64
 174 7/10/20         273 non-null    int64
 175 7/11/20         273 non-null    int64
 176 7/12/20         273 non-null    int64
 177 7/13/20         273 non-null    int64
 178 7/14/20         273 non-null    int64
 179 7/15/20         273 non-null    int64
 180 7/16/20         273 non-null    int64
 181 7/17/20         273 non-null    int64
 182 7/18/20         273 non-null    int64
 183 7/19/20         273 non-null    int64
 184 7/20/20         273 non-null    int64
 185 7/21/20         273 non-null    int64
 186 7/22/20         273 non-null    int64
 187 7/23/20         273 non-null    int64
 188 7/24/20         273 non-null    int64
 189 7/25/20         273 non-null    int64
 190 7/26/20         273 non-null    int64
 191 7/27/20         273 non-null    int64
 192 7/28/20         273 non-null    int64
 193 7/29/20         273 non-null    int64
 194 7/30/20         273 non-null    int64
 195 7/31/20         273 non-null    int64
 196 8/1/20          273 non-null    int64
 197 8/2/20          273 non-null    int64
 198 8/3/20          273 non-null    int64
 199 8/4/20          273 non-null    int64
 200 8/5/20          273 non-null    int64
 201 8/6/20          273 non-null    int64
 202 8/7/20          273 non-null    int64
 203 8/8/20          273 non-null    int64
 204 8/9/20          273 non-null    int64
 205 8/10/20         273 non-null    int64
 206 8/11/20         273 non-null    int64
 207 8/12/20         273 non-null    int64
 208 8/13/20         273 non-null    int64
 209 8/14/20         273 non-null    int64
 210 8/15/20         273 non-null    int64
 211 8/16/20         273 non-null    int64
 212 8/17/20         273 non-null    int64
 213 8/18/20         273 non-null    int64
 214 8/19/20         273 non-null    int64
 215 8/20/20         273 non-null    int64
 216 8/21/20         273 non-null    int64
 217 8/22/20         273 non-null    int64
 218 8/23/20         273 non-null    int64
 219 8/24/20         273 non-null    int64
 220 8/25/20         273 non-null    int64
 221 8/26/20         273 non-null    int64
 222 8/27/20         273 non-null    int64
 223 8/28/20         273 non-null    int64
 224 8/29/20         273 non-null    int64
 225 8/30/20         273 non-null    int64
 226 8/31/20         273 non-null    int64
 227 9/1/20          273 non-null    int64
 228 9/2/20          273 non-null    int64
 229 9/3/20          273 non-null    int64
 230 9/4/20          273 non-null    int64
 231 9/5/20          273 non-null    int64
 232 9/6/20          273 non-null    int64
 233 9/7/20          273 non-null    int64
 234 9/8/20          273 non-null    int64
 235 9/9/20          273 non-null    int64
 236 9/10/20         273 non-null    int64
 237 9/11/20         273 non-null    int64
 238 9/12/20         273 non-null    int64
 239 9/13/20         273 non-null    int64
 240 9/14/20         273 non-null    int64
 241 9/15/20         273 non-null    int64
 242 9/16/20         273 non-null    int64
 243 9/17/20         273 non-null    int64
 244 9/18/20         273 non-null    int64
 245 9/19/20         273 non-null    int64
 246 9/20/20         273 non-null    int64
 247 9/21/20         273 non-null    int64
 248 9/22/20         273 non-null    int64
 249 9/23/20         273 non-null    int64
 250 9/24/20         273 non-null    int64
 251 9/25/20         273 non-null    int64
 252 9/26/20         273 non-null    int64
 253 9/27/20         273 non-null    int64
 254 9/28/20         273 non-null    int64
 255 9/29/20         273 non-null    int64
 256 9/30/20         273 non-null    int64
 257 10/1/20         273 non-null    int64
 258 10/2/20         273 non-null    int64
 259 10/3/20         273 non-null    int64
 260 10/4/20         273 non-null    int64
 261 10/5/20         273 non-null    int64
 262 10/6/20         273 non-null    int64
 263 10/7/20         273 non-null    int64
 264 10/8/20         273 non-null    int64
 265 10/9/20         273 non-null    int64
 266 10/10/20        273 non-null    int64
 267 10/11/20        273 non-null    int64
 268 10/12/20        273 non-null    int64
 269 10/13/20        273 non-null    int64
 270 10/14/20        273 non-null    int64
 271 10/15/20        273 non-null    int64
 272 10/16/20        273 non-null    int64
 273 10/17/20        273 non-null    int64
 274 10/18/20        273 non-null    int64
 275 10/19/20        273 non-null    int64
 276 10/20/20        273 non-null    int64
 277 10/21/20        273 non-null    int64
 278 10/22/20        273 non-null    int64
 279 10/23/20        273 non-null    int64
 280 10/24/20        273 non-null    int64
 281 10/25/20        273 non-null    int64
 282 10/26/20        273 non-null    int64
 283 10/27/20        273 non-null    int64
 284 10/28/20        273 non-null    int64
 285 10/29/20        273 non-null    int64
 286 10/30/20        273 non-null    int64
 287 10/31/20        273 non-null    int64
 288 11/1/20         273 non-null    int64
 289 11/2/20         273 non-null    int64
 290 11/3/20         273 non-null    int64
 291 11/4/20         273 non-null    int64
 292 11/5/20         273 non-null    int64
 293 11/6/20         273 non-null    int64
 294 11/7/20         273 non-null    int64
 295 11/8/20         273 non-null    int64
 296 11/9/20         273 non-null    int64
 297 11/10/20        273 non-null    int64
 298 11/11/20        273 non-null    int64
 299 11/12/20        273 non-null    int64
 300 11/13/20        273 non-null    int64
 301 11/14/20        273 non-null    int64
 302 11/15/20        273 non-null    int64
 303 11/16/20        273 non-null    int64
 304 11/17/20        273 non-null    int64
 305 11/18/20        273 non-null    int64
 306 11/19/20        273 non-null    int64
 307 11/20/20        273 non-null    int64
 308 11/21/20        273 non-null    int64
 309 11/22/20        273 non-null    int64
 310 11/23/20        273 non-null    int64
 311 11/24/20        273 non-null    int64
 312 11/25/20        273 non-null    int64
 313 11/26/20        273 non-null    int64
 314 11/27/20        273 non-null    int64
 315 11/28/20        273 non-null    int64
 316 11/29/20        273 non-null    int64
 317 11/30/20        273 non-null    int64
 318 12/1/20         273 non-null    int64
 319 12/2/20         273 non-null    int64
 320 12/3/20         273 non-null    int64
 321 12/4/20         273 non-null    int64
 322 12/5/20         273 non-null    int64
 323 12/6/20         273 non-null    int64
 324 12/7/20         273 non-null    int64
 325 12/8/20         273 non-null    int64
 326 12/9/20         273 non-null    int64
 327 12/10/20        273 non-null    int64
 328 12/11/20        273 non-null    int64
 329 12/12/20        273 non-null    int64
 330 12/13/20        273 non-null    int64
 331 12/14/20        273 non-null    int64
 332 12/15/20        273 non-null    int64
 333 12/16/20        273 non-null    int64
 334 12/17/20        273 non-null    int64
 335 12/18/20        273 non-null    int64
 336 12/19/20        273 non-null    int64
 337 12/20/20        273 non-null    int64
 338 12/21/20        273 non-null    int64
 339 12/22/20        273 non-null    int64
 340 12/23/20        273 non-null    int64
 341 12/24/20        273 non-null    int64
 342 12/25/20        273 non-null    int64
 343 12/26/20        273 non-null    int64
 344 12/27/20        273 non-null    int64
 345 12/28/20        273 non-null    int64
 346 12/29/20        273 non-null    int64
 347 12/30/20        273 non-null    int64
 348 12/31/20        273 non-null    int64
 349 1/1/21          273 non-null    int64
 350 1/2/21          273 non-null    int64
 351 1/3/21          273 non-null    int64
 352 1/4/21          273 non-null    int64
 353 1/5/21          273 non-null    int64
 354 1/6/21          273 non-null    int64
 355 1/7/21          273 non-null    int64
 356 1/8/21          273 non-null    int64
 357 1/9/21          273 non-null    int64
 358 1/10/21         273 non-null    int64
 359 1/11/21         273 non-null    int64
 360 1/12/21         273 non-null    int64
 361 1/13/21         273 non-null    int64
 362 1/14/21         273 non-null    int64
 363 1/15/21         273 non-null    int64
 364 1/16/21         273 non-null    int64
 365 1/17/21         273 non-null    int64
 366 1/18/21         273 non-null    int64
 367 1/19/21         273 non-null    int64
 368 1/20/21         273 non-null    int64
 369 1/21/21         273 non-null    int64
 370 1/22/21         273 non-null    int64
 371 1/23/21         273 non-null    int64
 372 1/24/21         273 non-null    int64
 373 1/25/21         273 non-null    int64
 374 1/26/21         273 non-null    int64
 375 1/27/21         273 non-null    int64
 376 1/28/21         273 non-null    int64
 377 1/29/21         273 non-null    int64
 378 1/30/21         273 non-null    int64
 379 1/31/21         273 non-null    int64
 380 2/1/21          273 non-null    int64
 381 2/2/21          273 non-null    int64
 382 2/3/21          273 non-null    int64
 383 2/4/21          273 non-null    int64
 384 2/5/21          273 non-null    int64
 385 2/6/21          273 non-null    int64
 386 2/7/21          273 non-null    int64
dtypes: float64(2), int64(383), object(2)
memory usage: 825.5+ KB

In [10]:
confirmed_global.info(verbose=True, null_counts=True)
# Province/State: 84 non-null -> countries divided into provinces

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 387 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  84 non-null     object
 1   Country/Region  273 non-null    object
 2   Lat             272 non-null    float64
 3   Long            272 non-null    float64
 4   1/22/20         273 non-null    int64
 5   1/23/20         273 non-null    int64
 6   1/24/20         273 non-null    int64
 7   1/25/20         273 non-null    int64
 8   1/26/20         273 non-null    int64
 9   1/27/20         273 non-null    int64
 10  1/28/20         273 non-null    int64
 11  1/29/20         273 non-null    int64
 12  1/30/20         273 non-null    int64
 13  1/31/20         273 non-null    int64
 14  2/1/20          273 non-null    int64
 15  2/2/20          273 non-null    int64
 16  2/3/20          273 non-null    int64
 17  2/4/20          273 non-null    int64
 18  2/5/20          273 non-null    int64
 19  2/6/20          273 non-null    int64
 20  2/7/20          273 non-null    int64
 21  2/8/20          273 non-null    int64
 22  2/9/20          273 non-null    int64
 23  2/10/20         273 non-null    int64
 24  2/11/20         273 non-null    int64
 25  2/12/20         273 non-null    int64
 26  2/13/20         273 non-null    int64
 27  2/14/20         273 non-null    int64
 28  2/15/20         273 non-null    int64
 29  2/16/20         273 non-null    int64
 30  2/17/20         273 non-null    int64
 31  2/18/20         273 non-null    int64
 32  2/19/20         273 non-null    int64
 33  2/20/20         273 non-null    int64
 34  2/21/20         273 non-null    int64
 35  2/22/20         273 non-null    int64
 36  2/23/20         273 non-null    int64
 37  2/24/20         273 non-null    int64
 38  2/25/20         273 non-null    int64
 39  2/26/20         273 non-null    int64
 40  2/27/20         273 non-null    int64
 41  2/28/20         273 non-null    int64
 42  2/29/20         273 non-null    int64
 43  3/1/20          273 non-null    int64
 44  3/2/20          273 non-null    int64
 45  3/3/20          273 non-null    int64
 46  3/4/20          273 non-null    int64
 47  3/5/20          273 non-null    int64
 48  3/6/20          273 non-null    int64
 49  3/7/20          273 non-null    int64
 50  3/8/20          273 non-null    int64
 51  3/9/20          273 non-null    int64
 52  3/10/20         273 non-null    int64
 53  3/11/20         273 non-null    int64
 54  3/12/20         273 non-null    int64
 55  3/13/20         273 non-null    int64
 56  3/14/20         273 non-null    int64
 57  3/15/20         273 non-null    int64
 58  3/16/20         273 non-null    int64
 59  3/17/20         273 non-null    int64
 60  3/18/20         273 non-null    int64
 61  3/19/20         273 non-null    int64
 62  3/20/20         273 non-null    int64
 63  3/21/20         273 non-null    int64
 64  3/22/20         273 non-null    int64
 65  3/23/20         273 non-null    int64
 66  3/24/20         273 non-null    int64
 67  3/25/20         273 non-null    int64
 68  3/26/20         273 non-null    int64
 69  3/27/20         273 non-null    int64
 70  3/28/20         273 non-null    int64
 71  3/29/20         273 non-null    int64
 72  3/30/20         273 non-null    int64
 73  3/31/20         273 non-null    int64
 74  4/1/20          273 non-null    int64
 75  4/2/20          273 non-null    int64
 76  4/3/20          273 non-null    int64
 77  4/4/20          273 non-null    int64
 78  4/5/20          273 non-null    int64
 79  4/6/20          273 non-null    int64
 80  4/7/20          273 non-null    int64
 81  4/8/20          273 non-null    int64
 82  4/9/20          273 non-null    int64
 83  4/10/20         273 non-null    int64
 84  4/11/20         273 non-null    int64
 85  4/12/20         273 non-null    int64
 86  4/13/20         273 non-null    int64
 87  4/14/20         273 non-null    int64
 88  4/15/20         273 non-null    int64
 89  4/16/20         273 non-null    int64
 90  4/17/20         273 non-null    int64
 91  4/18/20         273 non-null    int64
 92  4/19/20         273 non-null    int64
 93  4/20/20         273 non-null    int64
 94  4/21/20         273 non-null    int64
 95  4/22/20         273 non-null    int64
 96  4/23/20         273 non-null    int64
 97  4/24/20         273 non-null    int64
 98  4/25/20         273 non-null    int64
 99  4/26/20         273 non-null    int64
 100 4/27/20         273 non-null    int64
 101 4/28/20         273 non-null    int64
 102 4/29/20         273 non-null    int64
 103 4/30/20         273 non-null    int64
 104 5/1/20          273 non-null    int64
 105 5/2/20          273 non-null    int64
 106 5/3/20          273 non-null    int64
 107 5/4/20          273 non-null    int64
 108 5/5/20          273 non-null    int64
 109 5/6/20          273 non-null    int64
 110 5/7/20          273 non-null    int64
 111 5/8/20          273 non-null    int64
 112 5/9/20          273 non-null    int64
 113 5/10/20         273 non-null    int64
 114 5/11/20         273 non-null    int64
 115 5/12/20         273 non-null    int64
 116 5/13/20         273 non-null    int64
 117 5/14/20         273 non-null    int64
 118 5/15/20         273 non-null    int64
 119 5/16/20         273 non-null    int64
 120 5/17/20         273 non-null    int64
 121 5/18/20         273 non-null    int64
 122 5/19/20         273 non-null    int64
 123 5/20/20         273 non-null    int64
 124 5/21/20         273 non-null    int64
 125 5/22/20         273 non-null    int64
 126 5/23/20         273 non-null    int64
 127 5/24/20         273 non-null    int64
 128 5/25/20         273 non-null    int64
 129 5/26/20         273 non-null    int64
 130 5/27/20         273 non-null    int64
 131 5/28/20         273 non-null    int64
 132 5/29/20         273 non-null    int64
 133 5/30/20         273 non-null    int64
 134 5/31/20         273 non-null    int64
 135 6/1/20          273 non-null    int64
 136 6/2/20          273 non-null    int64
 137 6/3/20          273 non-null    int64
 138 6/4/20          273 non-null    int64
 139 6/5/20          273 non-null    int64
 140 6/6/20          273 non-null    int64
 141 6/7/20          273 non-null    int64
 142 6/8/20          273 non-null    int64
 143 6/9/20          273 non-null    int64
 144 6/10/20         273 non-null    int64
 145 6/11/20         273 non-null    int64
 146 6/12/20         273 non-null    int64
 147 6/13/20         273 non-null    int64
 148 6/14/20         273 non-null    int64
 149 6/15/20         273 non-null    int64
 150 6/16/20         273 non-null    int64
 151 6/17/20         273 non-null    int64
 152 6/18/20         273 non-null    int64
 153 6/19/20         273 non-null    int64
 154 6/20/20         273 non-null    int64
 155 6/21/20         273 non-null    int64
 156 6/22/20         273 non-null    int64
 157 6/23/20         273 non-null    int64
 158 6/24/20         273 non-null    int64
 159 6/25/20         273 non-null    int64
 160 6/26/20         273 non-null    int64
 161 6/27/20         273 non-null    int64
 162 6/28/20         273 non-null    int64
 163 6/29/20         273 non-null    int64
 164 6/30/20         273 non-null    int64
 165 7/1/20          273 non-null    int64
 166 7/2/20          273 non-null    int64
 167 7/3/20          273 non-null    int64
 168 7/4/20          273 non-null    int64
 169 7/5/20          273 non-null    int64
 170 7/6/20          273 non-null    int64
 171 7/7/20          273 non-null    int64
 172 7/8/20          273 non-null    int64
 173 7/9/20          273 non-null    int64
 174 7/10/20         273 non-null    int64
 175 7/11/20         273 non-null    int64
 176 7/12/20         273 non-null    int64
 177 7/13/20         273 non-null    int64
 178 7/14/20         273 non-null    int64
 179 7/15/20         273 non-null    int64
 180 7/16/20         273 non-null    int64
 181 7/17/20         273 non-null    int64
 182 7/18/20         273 non-null    int64
 183 7/19/20         273 non-null    int64
 184 7/20/20         273 non-null    int64
 185 7/21/20         273 non-null    int64
 186 7/22/20         273 non-null    int64
 187 7/23/20         273 non-null    int64
 188 7/24/20         273 non-null    int64
 189 7/25/20         273 non-null    int64
 190 7/26/20         273 non-null    int64
 191 7/27/20         273 non-null    int64
 192 7/28/20         273 non-null    int64
 193 7/29/20         273 non-null    int64
 194 7/30/20         273 non-null    int64
 195 7/31/20         273 non-null    int64
 196 8/1/20          273 non-null    int64
 197 8/2/20          273 non-null    int64
 198 8/3/20          273 non-null    int64
 199 8/4/20          273 non-null    int64
 200 8/5/20          273 non-null    int64
 201 8/6/20          273 non-null    int64
 202 8/7/20          273 non-null    int64
 203 8/8/20          273 non-null    int64
 204 8/9/20          273 non-null    int64
 205 8/10/20         273 non-null    int64
 206 8/11/20         273 non-null    int64
 207 8/12/20         273 non-null    int64
 208 8/13/20         273 non-null    int64
 209 8/14/20         273 non-null    int64
 210 8/15/20         273 non-null    int64
 211 8/16/20         273 non-null    int64
 212 8/17/20         273 non-null    int64
 213 8/18/20         273 non-null    int64
 214 8/19/20         273 non-null    int64
 215 8/20/20         273 non-null    int64
 216 8/21/20         273 non-null    int64
 217 8/22/20         273 non-null    int64
 218 8/23/20         273 non-null    int64
 219 8/24/20         273 non-null    int64
 220 8/25/20         273 non-null    int64
 221 8/26/20         273 non-null    int64
 222 8/27/20         273 non-null    int64
 223 8/28/20         273 non-null    int64
 224 8/29/20         273 non-null    int64
 225 8/30/20         273 non-null    int64
 226 8/31/20         273 non-null    int64
 227 9/1/20          273 non-null    int64
 228 9/2/20          273 non-null    int64
 229 9/3/20          273 non-null    int64
 230 9/4/20          273 non-null    int64
 231 9/5/20          273 non-null    int64
 232 9/6/20          273 non-null    int64
 233 9/7/20          273 non-null    int64
 234 9/8/20          273 non-null    int64
 235 9/9/20          273 non-null    int64
 236 9/10/20         273 non-null    int64
 237 9/11/20         273 non-null    int64
 238 9/12/20         273 non-null    int64
 239 9/13/20         273 non-null    int64
 240 9/14/20         273 non-null    int64
 241 9/15/20         273 non-null    int64
 242 9/16/20         273 non-null    int64
 243 9/17/20         273 non-null    int64
 244 9/18/20         273 non-null    int64
 245 9/19/20         273 non-null    int64
 246 9/20/20         273 non-null    int64
 247 9/21/20         273 non-null    int64
 248 9/22/20         273 non-null    int64
 249 9/23/20         273 non-null    int64
 250 9/24/20         273 non-null    int64
 251 9/25/20         273 non-null    int64
 252 9/26/20         273 non-null    int64
 253 9/27/20         273 non-null    int64
 254 9/28/20         273 non-null    int64
 255 9/29/20         273 non-null    int64
 256 9/30/20         273 non-null    int64
 257 10/1/20         273 non-null    int64
 258 10/2/20         273 non-null    int64
 259 10/3/20         273 non-null    int64
 260 10/4/20         273 non-null    int64
 261 10/5/20         273 non-null    int64
 262 10/6/20         273 non-null    int64
 263 10/7/20         273 non-null    int64
 264 10/8/20         273 non-null    int64
 265 10/9/20         273 non-null    int64
 266 10/10/20        273 non-null    int64
 267 10/11/20        273 non-null    int64
 268 10/12/20        273 non-null    int64
 269 10/13/20        273 non-null    int64
 270 10/14/20        273 non-null    int64
 271 10/15/20        273 non-null    int64
 272 10/16/20        273 non-null    int64
 273 10/17/20        273 non-null    int64
 274 10/18/20        273 non-null    int64
 275 10/19/20        273 non-null    int64
 276 10/20/20        273 non-null    int64
 277 10/21/20        273 non-null    int64
 278 10/22/20        273 non-null    int64
 279 10/23/20        273 non-null    int64
 280 10/24/20        273 non-null    int64
 281 10/25/20        273 non-null    int64
 282 10/26/20        273 non-null    int64
 283 10/27/20        273 non-null    int64
 284 10/28/20        273 non-null    int64
 285 10/29/20        273 non-null    int64
 286 10/30/20        273 non-null    int64
 287 10/31/20        273 non-null    int64
 288 11/1/20         273 non-null    int64
 289 11/2/20         273 non-null    int64
 290 11/3/20         273 non-null    int64
 291 11/4/20         273 non-null    int64
 292 11/5/20         273 non-null    int64
 293 11/6/20         273 non-null    int64
 294 11/7/20         273 non-null    int64
 295 11/8/20         273 non-null    int64
 296 11/9/20         273 non-null    int64
 297 11/10/20        273 non-null    int64
 298 11/11/20        273 non-null    int64
 299 11/12/20        273 non-null    int64
 300 11/13/20        273 non-null    int64
 301 11/14/20        273 non-null    int64
 302 11/15/20        273 non-null    int64
 303 11/16/20        273 non-null    int64
 304 11/17/20        273 non-null    int64
 305 11/18/20        273 non-null    int64
 306 11/19/20        273 non-null    int64
 307 11/20/20        273 non-null    int64
 308 11/21/20        273 non-null    int64
 309 11/22/20        273 non-null    int64
 310 11/23/20        273 non-null    int64
 311 11/24/20        273 non-null    int64
 312 11/25/20        273 non-null    int64
 313 11/26/20        273 non-null    int64
 314 11/27/20        273 non-null    int64
 315 11/28/20        273 non-null    int64
 316 11/29/20        273 non-null    int64
 317 11/30/20        273 non-null    int64
 318 12/1/20         273 non-null    int64
 319 12/2/20         273 non-null    int64
 320 12/3/20         273 non-null    int64
 321 12/4/20         273 non-null    int64
 322 12/5/20         273 non-null    int64
 323 12/6/20         273 non-null    int64
 324 12/7/20         273 non-null    int64
 325 12/8/20         273 non-null    int64
 326 12/9/20         273 non-null    int64
 327 12/10/20        273 non-null    int64
 328 12/11/20        273 non-null    int64
 329 12/12/20        273 non-null    int64
 330 12/13/20        273 non-null    int64
 331 12/14/20        273 non-null    int64
 332 12/15/20        273 non-null    int64
 333 12/16/20        273 non-null    int64
 334 12/17/20        273 non-null    int64
 335 12/18/20        273 non-null    int64
 336 12/19/20        273 non-null    int64
 337 12/20/20        273 non-null    int64
 338 12/21/20        273 non-null    int64
 339 12/22/20        273 non-null    int64
 340 12/23/20        273 non-null    int64
 341 12/24/20        273 non-null    int64
 342 12/25/20        273 non-null    int64
 343 12/26/20        273 non-null    int64
 344 12/27/20        273 non-null    int64
 345 12/28/20        273 non-null    int64
 346 12/29/20        273 non-null    int64
 347 12/30/20        273 non-null    int64
 348 12/31/20        273 non-null    int64
 349 1/1/21          273 non-null    int64
 350 1/2/21          273 non-null    int64
 351 1/3/21          273 non-null    int64
 352 1/4/21          273 non-null    int64
 353 1/5/21          273 non-null    int64
 354 1/6/21          273 non-null    int64
 355 1/7/21          273 non-null    int64
 356 1/8/21          273 non-null    int64
 357 1/9/21          273 non-null    int64
 358 1/10/21         273 non-null    int64
 359 1/11/21         273 non-null    int64
 360 1/12/21         273 non-null    int64
 361 1/13/21         273 non-null    int64
 362 1/14/21         273 non-null    int64
 363 1/15/21         273 non-null    int64
 364 1/16/21         273 non-null    int64
 365 1/17/21         273 non-null    int64
 366 1/18/21         273 non-null    int64
 367 1/19/21         273 non-null    int64
 368 1/20/21         273 non-null    int64
 369 1/21/21         273 non-null    int64
 370 1/22/21         273 non-null    int64
 371 1/23/21         273 non-null    int64
 372 1/24/21         273 non-null    int64
 373 1/25/21         273 non-null    int64
 374 1/26/21         273 non-null    int64
 375 1/27/21         273 non-null    int64
 376 1/28/21         273 non-null    int64
 377 1/29/21         273 non-null    int64
 378 1/30/21         273 non-null    int64
 379 1/31/21         273 non-null    int64
 380 2/1/21          273 non-null    int64
 381 2/2/21          273 non-null    int64
 382 2/3/21          273 non-null    int64
 383 2/4/21          273 non-null    int64
 384 2/5/21          273 non-null    int64
 385 2/6/21          273 non-null    int64
 386 2/7/21          273 non-null    int64
dtypes: float64(2), int64(383), object(2)
memory usage: 825.5+ KB

In [11]:
recovered_global.info(verbose=True, null_counts=True)
# Province/State: 68 non-null -> countries divided into provinces

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 387 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  68 non-null     object
 1   Country/Region  258 non-null    object
 2   Lat             258 non-null    float64
 3   Long            258 non-null    float64
 4   1/22/20         258 non-null    int64
 5   1/23/20         258 non-null    int64
 6   1/24/20         258 non-null    int64
 7   1/25/20         258 non-null    int64
 8   1/26/20         258 non-null    int64
 9   1/27/20         258 non-null    int64
 10  1/28/20         258 non-null    int64
 11  1/29/20         258 non-null    int64
 12  1/30/20         258 non-null    int64
 13  1/31/20         258 non-null    int64
 14  2/1/20          258 non-null    int64
 15  2/2/20          258 non-null    int64
 16  2/3/20          258 non-null    int64
 17  2/4/20          258 non-null    int64
 18  2/5/20          258 non-null    int64
 19  2/6/20          258 non-null    int64
 20  2/7/20          258 non-null    int64
 21  2/8/20          258 non-null    int64
 22  2/9/20          258 non-null    int64
 23  2/10/20         258 non-null    int64
 24  2/11/20         258 non-null    int64
 25  2/12/20         258 non-null    int64
 26  2/13/20         258 non-null    int64
 27  2/14/20         258 non-null    int64
 28  2/15/20         258 non-null    int64
 29  2/16/20         258 non-null    int64
 30  2/17/20         258 non-null    int64
 31  2/18/20         258 non-null    int64
 32  2/19/20         258 non-null    int64
 33  2/20/20         258 non-null    int64
 34  2/21/20         258 non-null    int64
 35  2/22/20         258 non-null    int64
 36  2/23/20         258 non-null    int64
 37  2/24/20         258 non-null    int64
 38  2/25/20         258 non-null    int64
 39  2/26/20         258 non-null    int64
 40  2/27/20         258 non-null    int64
 41  2/28/20         258 non-null    int64
 42  2/29/20         258 non-null    int64
 43  3/1/20          258 non-null    int64
 44  3/2/20          258 non-null    int64
 45  3/3/20          258 non-null    int64
 46  3/4/20          258 non-null    int64
 47  3/5/20          258 non-null    int64
 48  3/6/20          258 non-null    int64
 49  3/7/20          258 non-null    int64
 50  3/8/20          258 non-null    int64
 51  3/9/20          258 non-null    int64
 52  3/10/20         258 non-null    int64
 53  3/11/20         258 non-null    int64
 54  3/12/20         258 non-null    int64
 55  3/13/20         258 non-null    int64
 56  3/14/20         258 non-null    int64
 57  3/15/20         258 non-null    int64
 58  3/16/20         258 non-null    int64
 59  3/17/20         258 non-null    int64
 60  3/18/20         258 non-null    int64
 61  3/19/20         258 non-null    int64
 62  3/20/20         258 non-null    int64
 63  3/21/20         258 non-null    int64
 64  3/22/20         258 non-null    int64
 65  3/23/20         258 non-null    int64
 66  3/24/20         258 non-null    int64
 67  3/25/20         258 non-null    int64
 68  3/26/20         258 non-null    int64
 69  3/27/20         258 non-null    int64
 70  3/28/20         258 non-null    int64
 71  3/29/20         258 non-null    int64
 72  3/30/20         258 non-null    int64
 73  3/31/20         258 non-null    int64
 74  4/1/20          258 non-null    int64
 75  4/2/20          258 non-null    int64
 76  4/3/20          258 non-null    int64
 77  4/4/20          258 non-null    int64
 78  4/5/20          258 non-null    int64
 79  4/6/20          258 non-null    int64
 80  4/7/20          258 non-null    int64
 81  4/8/20          258 non-null    int64
 82  4/9/20          258 non-null    int64
 83  4/10/20         258 non-null    int64
 84  4/11/20         258 non-null    int64
 85  4/12/20         258 non-null    int64
 86  4/13/20         258 non-null    int64
 87  4/14/20         258 non-null    int64
 88  4/15/20         258 non-null    int64
 89  4/16/20         258 non-null    int64
 90  4/17/20         258 non-null    int64
 91  4/18/20         258 non-null    int64
 92  4/19/20         258 non-null    int64
 93  4/20/20         258 non-null    int64
 94  4/21/20         258 non-null    int64
 95  4/22/20         258 non-null    int64
 96  4/23/20         258 non-null    int64
 97  4/24/20         258 non-null    int64
 98  4/25/20         258 non-null    int64
 99  4/26/20         258 non-null    int64
 100 4/27/20         258 non-null    int64
 101 4/28/20         258 non-null    int64
 102 4/29/20         258 non-null    int64
 103 4/30/20         258 non-null    int64
 104 5/1/20          258 non-null    int64
 105 5/2/20          258 non-null    int64
 106 5/3/20          258 non-null    int64
 107 5/4/20          258 non-null    int64
 108 5/5/20          258 non-null    int64
 109 5/6/20          258 non-null    int64
 110 5/7/20          258 non-null    int64
 111 5/8/20          258 non-null    int64
 112 5/9/20          258 non-null    int64
 113 5/10/20         258 non-null    int64
 114 5/11/20         258 non-null    int64
 115 5/12/20         258 non-null    int64
 116 5/13/20         258 non-null    int64
 117 5/14/20         258 non-null    int64
 118 5/15/20         258 non-null    int64
 119 5/16/20         258 non-null    int64
 120 5/17/20         258 non-null    int64
 121 5/18/20         258 non-null    int64
 122 5/19/20         258 non-null    int64
 123 5/20/20         258 non-null    int64
 124 5/21/20         258 non-null    int64
 125 5/22/20         258 non-null    int64
 126 5/23/20         258 non-null    int64
 127 5/24/20         258 non-null    int64
 128 5/25/20         258 non-null    int64
 129 5/26/20         258 non-null    int64
 130 5/27/20         258 non-null    int64
 131 5/28/20         258 non-null    int64
 132 5/29/20         258 non-null    int64
 133 5/30/20         258 non-null    int64
 134 5/31/20         258 non-null    int64
 135 6/1/20          258 non-null    int64
 136 6/2/20          258 non-null    int64
 137 6/3/20          258 non-null    int64
 138 6/4/20          258 non-null    int64
 139 6/5/20          258 non-null    int64
 140 6/6/20          258 non-null    int64
 141 6/7/20          258 non-null    int64
 142 6/8/20          258 non-null    int64
 143 6/9/20          258 non-null    int64
 144 6/10/20         258 non-null    int64
 145 6/11/20         258 non-null    int64
 146 6/12/20         258 non-null    int64
 147 6/13/20         258 non-null    int64
 148 6/14/20         258 non-null    int64
 149 6/15/20         258 non-null    int64
 150 6/16/20         258 non-null    int64
 151 6/17/20         258 non-null    int64
 152 6/18/20         258 non-null    int64
 153 6/19/20         258 non-null    int64
 154 6/20/20         258 non-null    int64
 155 6/21/20         258 non-null    int64
 156 6/22/20         258 non-null    int64
 157 6/23/20         258 non-null    int64
 158 6/24/20         258 non-null    int64
 159 6/25/20         258 non-null    int64
 160 6/26/20         258 non-null    int64
 161 6/27/20         258 non-null    int64
 162 6/28/20         258 non-null    int64
 163 6/29/20         258 non-null    int64
 164 6/30/20         258 non-null    int64
 165 7/1/20          258 non-null    int64
 166 7/2/20          258 non-null    int64
 167 7/3/20          258 non-null    int64
 168 7/4/20          258 non-null    int64
 169 7/5/20          258 non-null    int64
 170 7/6/20          258 non-null    int64
 171 7/7/20          258 non-null    int64
 172 7/8/20          258 non-null    int64
 173 7/9/20          258 non-null    int64
 174 7/10/20         258 non-null    int64
 175 7/11/20         258 non-null    int64
 176 7/12/20         258 non-null    int64
 177 7/13/20         258 non-null    int64
 178 7/14/20         258 non-null    int64
 179 7/15/20         258 non-null    int64
 180 7/16/20         258 non-null    int64
 181 7/17/20         258 non-null    int64
 182 7/18/20         258 non-null    int64
 183 7/19/20         258 non-null    int64
 184 7/20/20         258 non-null    int64
 185 7/21/20         258 non-null    int64
 186 7/22/20         258 non-null    int64
 187 7/23/20         258 non-null    int64
 188 7/24/20         258 non-null    int64
 189 7/25/20         258 non-null    int64
 190 7/26/20         258 non-null    int64
 191 7/27/20         258 non-null    int64
 192 7/28/20         258 non-null    int64
 193 7/29/20         258 non-null    int64
 194 7/30/20         258 non-null    int64
 195 7/31/20         258 non-null    int64
 196 8/1/20          258 non-null    int64
 197 8/2/20          258 non-null    int64
 198 8/3/20          258 non-null    int64
 199 8/4/20          258 non-null    int64
 200 8/5/20          258 non-null    int64
 201 8/6/20          258 non-null    int64
 202 8/7/20          258 non-null    int64
 203 8/8/20          258 non-null    int64
 204 8/9/20          258 non-null    int64
 205 8/10/20         258 non-null    int64
 206 8/11/20         258 non-null    int64
 207 8/12/20         258 non-null    int64
 208 8/13/20         258 non-null    int64
 209 8/14/20         258 non-null    int64
 210 8/15/20         258 non-null    int64
 211 8/16/20         258 non-null    int64
 212 8/17/20         258 non-null    int64
 213 8/18/20         258 non-null    int64
 214 8/19/20         258 non-null    int64
 215 8/20/20         258 non-null    int64
 216 8/21/20         258 non-null    int64
 217 8/22/20         258 non-null    int64
 218 8/23/20         258 non-null    int64
 219 8/24/20         258 non-null    int64
 220 8/25/20         258 non-null    int64
 221 8/26/20         258 non-null    int64
 222 8/27/20         258 non-null    int64
 223 8/28/20         258 non-null    int64
 224 8/29/20         258 non-null    int64
 225 8/30/20         258 non-null    int64
 226 8/31/20         258 non-null    int64
 227 9/1/20          258 non-null    int64
 228 9/2/20          258 non-null    int64
 229 9/3/20          258 non-null    int64
 230 9/4/20          258 non-null    int64
 231 9/5/20          258 non-null    int64
 232 9/6/20          258 non-null    int64
 233 9/7/20          258 non-null    int64
 234 9/8/20          258 non-null    int64
 235 9/9/20          258 non-null    int64
 236 9/10/20         258 non-null    int64
 237 9/11/20         258 non-null    int64
 238 9/12/20         258 non-null    int64
 239 9/13/20         258 non-null    int64
 240 9/14/20         258 non-null    int64
 241 9/15/20         258 non-null    int64
 242 9/16/20         258 non-null    int64
 243 9/17/20         258 non-null    int64
 244 9/18/20         258 non-null    int64
 245 9/19/20         258 non-null    int64
 246 9/20/20         258 non-null    int64
 247 9/21/20         258 non-null    int64
 248 9/22/20         258 non-null    int64
 249 9/23/20         258 non-null    int64
 250 9/24/20         258 non-null    int64
 251 9/25/20         258 non-null    int64
 252 9/26/20         258 non-null    int64
 253 9/27/20         258 non-null    int64
 254 9/28/20         258 non-null    int64
 255 9/29/20         258 non-null    int64
 256 9/30/20         258 non-null    int64
 257 10/1/20         258 non-null    int64
 258 10/2/20         258 non-null    int64
 259 10/3/20         258 non-null    int64
 260 10/4/20         258 non-null    int64
 261 10/5/20         258 non-null    int64
 262 10/6/20         258 non-null    int64
 263 10/7/20         258 non-null    int64
 264 10/8/20         258 non-null    int64
 265 10/9/20         258 non-null    int64
 266 10/10/20        258 non-null    int64
 267 10/11/20        258 non-null    int64
 268 10/12/20        258 non-null    int64
 269 10/13/20        258 non-null    int64
 270 10/14/20        258 non-null    int64
 271 10/15/20        258 non-null    int64
 272 10/16/20        258 non-null    int64
 273 10/17/20        258 non-null    int64
 274 10/18/20        258 non-null    int64
 275 10/19/20        258 non-null    int64
 276 10/20/20        258 non-null    int64
 277 10/21/20        258 non-null    int64
 278 10/22/20        258 non-null    int64
 279 10/23/20        258 non-null    int64
 280 10/24/20        258 non-null    int64
 281 10/25/20        258 non-null    int64
 282 10/26/20        258 non-null    int64
 283 10/27/20        258 non-null    int64
 284 10/28/20        258 non-null    int64
 285 10/29/20        258 non-null    int64
 286 10/30/20        258 non-null    int64
 287 10/31/20        258 non-null    int64
 288 11/1/20         258 non-null    int64
 289 11/2/20         258 non-null    int64
 290 11/3/20         258 non-null    int64
 291 11/4/20         258 non-null    int64
 292 11/5/20         258 non-null    int64
 293 11/6/20         258 non-null    int64
 294 11/7/20         258 non-null    int64
 295 11/8/20         258 non-null    int64
 296 11/9/20         258 non-null    int64
 297 11/10/20        258 non-null    int64
 298 11/11/20        258 non-null    int64
 299 11/12/20        258 non-null    int64
 300 11/13/20        258 non-null    int64
 301 11/14/20        258 non-null    int64
 302 11/15/20        258 non-null    int64
 303 11/16/20        258 non-null    int64
 304 11/17/20        258 non-null    int64
 305 11/18/20        258 non-null    int64
 306 11/19/20        258 non-null    int64
 307 11/20/20        258 non-null    int64
 308 11/21/20        258 non-null    int64
 309 11/22/20        258 non-null    int64
 310 11/23/20        258 non-null    int64
 311 11/24/20        258 non-null    int64
 312 11/25/20        258 non-null    int64
 313 11/26/20        258 non-null    int64
 314 11/27/20        258 non-null    int64
 315 11/28/20        258 non-null    int64
 316 11/29/20        258 non-null    int64
 317 11/30/20        258 non-null    int64
 318 12/1/20         258 non-null    int64
 319 12/2/20         258 non-null    int64
 320 12/3/20         258 non-null    int64
 321 12/4/20         258 non-null    int64
 322 12/5/20         258 non-null    int64
 323 12/6/20         258 non-null    int64
 324 12/7/20         258 non-null    int64
 325 12/8/20         258 non-null    int64
 326 12/9/20         258 non-null    int64
 327 12/10/20        258 non-null    int64
 328 12/11/20        258 non-null    int64
 329 12/12/20        258 non-null    int64
 330 12/13/20        258 non-null    int64
 331 12/14/20        258 non-null    int64
 332 12/15/20        258 non-null    int64
 333 12/16/20        258 non-null    int64
 334 12/17/20        258 non-null    int64
 335 12/18/20        258 non-null    int64
 336 12/19/20        258 non-null    int64
 337 12/20/20        258 non-null    int64
 338 12/21/20        258 non-null    int64
 339 12/22/20        258 non-null    int64
 340 12/23/20        258 non-null    int64
 341 12/24/20        258 non-null    int64
 342 12/25/20        258 non-null    int64
 343 12/26/20        258 non-null    int64
 344 12/27/20        258 non-null    int64
 345 12/28/20        258 non-null    int64
 346 12/29/20        258 non-null    int64
 347 12/30/20        258 non-null    int64
 348 12/31/20        258 non-null    int64
 349 1/1/21          258 non-null    int64
 350 1/2/21          258 non-null    int64
 351 1/3/21          258 non-null    int64
 352 1/4/21          258 non-null    int64
 353 1/5/21          258 non-null    int64
 354 1/6/21          258 non-null    int64
 355 1/7/21          258 non-null    int64
 356 1/8/21          258 non-null    int64
 357 1/9/21          258 non-null    int64
 358 1/10/21         258 non-null    int64
 359 1/11/21         258 non-null    int64
 360 1/12/21         258 non-null    int64
 361 1/13/21         258 non-null    int64
 362 1/14/21         258 non-null    int64
 363 1/15/21         258 non-null    int64
 364 1/16/21         258 non-null    int64
 365 1/17/21         258 non-null    int64
 366 1/18/21         258 non-null    int64
 367 1/19/21         258 non-null    int64
 368 1/20/21         258 non-null    int64
 369 1/21/21         258 non-null    int64
 370 1/22/21         258 non-null    int64
 371 1/23/21         258 non-null    int64
 372 1/24/21         258 non-null    int64
 373 1/25/21         258 non-null    int64
 374 1/26/21         258 non-null    int64
 375 1/27/21         258 non-null    int64
 376 1/28/21         258 non-null    int64
 377 1/29/21         258 non-null    int64
 378 1/30/21         258 non-null    int64
 379 1/31/21         258 non-null    int64
 380 2/1/21          258 non-null    int64
 381 2/2/21          258 non-null    int64
 382 2/3/21          258 non-null    int64
 383 2/4/21          258 non-null    int64
 384 2/5/21          258 non-null    int64
 385 2/6/21          258 non-null    int64
 386 2/7/21          258 non-null    int64
dtypes: float64(2), int64(383), object(2)
memory usage: 780.2+ KB

In [12]:
# NaN values are only in the first column "Province/State" -> some countries are divided into provinces?

Checking if all countries appear in each table

In [13]:
recovered_global["Country/Region"].unique().shape

(192,)

In [14]:
confirmed_global["Country/Region"].unique().shape

(192,)

In [15]:
deaths_global["Country/Region"].unique().shape

(192,)

Checking which countries appear more than once and how many times

In [20]:
# check_multiple = confirmed_global.iloc[:,0:2]
check_multiple = deaths_global.iloc[:,0:2]
#check_multiple = recovered_global.iloc[:,0:2]

check_multiple.dropna(axis=0, inplace=True)

check_multiple.groupby(["Country/Region"]).count()

                Province/State
Country/Region
Australia                    8
Canada                      16
China                       33
Denmark                      2
France                      11
Netherlands                  4
United Kingdom              10

Canada appears only once in "recovered" dataframe -> this is probably the country that is not devided into provinces in this dataframe
<br>
Let's check:

In [21]:
mask = recovered_global["Country/Region"] == "Canada"
recovered_global[mask]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
39,NaN,Canada,56.1304,-106.3468,0,0,0,0,0,0,...,701306,706285,710699,718049,722002,726258,729768,726095,729371,732688

In [22]:
# Canada appears only once in "recovered" dataset

Countries that are divided into provinces: Australia, Canada (except: "recovered" dataframe), China <br>
Overseas territories in case of: Denmark, France, Netherlands, United Kingdom <br> 
<br>
In the next steps, the sum of all provinces will be calculated for each country and only the sum will remain in the dataset <br>
In case of the overseas territories, values within "Country/Region" column will be replaced with "Province/State" values -> Country names will be replaced with names of its dependencies / overseas territories

<b> Dataset preparation </b>

Overseas territories

In [23]:
# Changing the name of Country/Region in case of overseas territories

def rename(df):
    
    overseas_terr=["Netherlands", "United Kingdom", "Denmark", "France"]
    for country in overseas_terr: 
        df["Country/Region"] = np.where((df["Country/Region"] == country) & (df["Province/State"].notna()), df["Province/State"], df["Country/Region"])
    return df

In [24]:
deaths_global_renamed = rename(deaths_global)
deaths_global_renamed.tail(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
261,Montserrat,Montserrat,16.742498,-62.187366,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
262,Turks and Caicos Islands,Turks and Caicos Islands,21.694000,-71.797900,0,0,0,0,0,0,...,8,8,9,9,9,9,9,9,9,9
263,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,104371,105571,106158,106564,108013,109335,110250,111264,112092,112465
264,NaN,Uruguay,-32.522800,-55.765800,0,0,0,0,0,0,...,425,431,436,444,453,464,476,478,481,490
265,NaN,Uzbekistan,41.377491,64.585262,0,0,0,0,0,0,...,621,621,621,621,621,621,621,621,621,621
266,NaN,Vanuatu,-15.376700,166.959200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
267,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,1177,1183,1189,1196,1202,1209,1216,1223,1228,1233
268,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,35,35,35,35,35,35,35,35,35,35
269,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,1823,1831,1833,1840,1849,1857,1865,1867,1870,1881
270,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,615,615,615,615,615,615,615,615,615,615
271,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,728,745,763,780,794,804,812,828,839,853
272,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,1178,1193,1217,1234,1254,1269,1288,1303,1316,1326

In [25]:
confirmed_global_renamed = rename(confirmed_global)
confirmed_global_renamed.tail(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
261,Montserrat,Montserrat,16.742498,-62.187366,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,15,17
262,Turks and Caicos Islands,Turks and Caicos Islands,21.694000,-71.797900,0,0,0,0,0,0,...,1435,1459,1503,1504,1504,1504,1553,1590,1654,1695
263,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,3772813,3796088,3817176,3835783,3852623,3871825,3892459,3911573,3929835,3945680
264,NaN,Uruguay,-32.522800,-55.765800,0,0,0,0,0,0,...,40529,41181,41738,42128,42667,43215,43804,44303,44812,45311
265,NaN,Uzbekistan,41.377491,64.585262,0,0,0,0,0,0,...,78602,78711,78711,78755,78801,78859,78916,78989,79045,79098
266,NaN,Vanuatu,-15.376700,166.959200,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
267,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,125776,126323,126927,127346,127752,128315,128775,129231,129643,130116
268,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1657,1767,1817,1850,1882,1948,1957,1976,1985,2001
269,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,158168,158559,158962,159443,159956,160426,161087,161559,162029,162601
270,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2120,2120,2121,2122,2122,2122,2122,2124,2127,2127
271,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,51624,53352,54217,55042,56233,57489,59003,60427,61427,62633
272,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,32952,33273,33388,33548,33814,33964,34171,34331,34487,34552

In [26]:
recovered_global_renamed = rename(recovered_global)
recovered_global_renamed.tail(12)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
246,Montserrat,Montserrat,16.742498,-62.187366,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,13,13
247,Turks and Caicos Islands,Turks and Caicos Islands,21.694000,-71.797900,0,0,0,0,0,0,...,1051,1094,1127,1140,1140,1214,1238,1254,1274,1319
248,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
249,NaN,Uruguay,-32.522800,-55.765800,0,0,0,0,0,0,...,33146,33914,34683,35535,36178,36820,37411,37967,38469,38976
250,NaN,Uzbekistan,41.377491,64.585262,0,0,0,0,0,0,...,77084,77191,77191,77221,77286,77333,77368,77443,77490,77522
251,NaN,Vanuatu,-15.376700,166.959200,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
252,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,117867,118385,118887,119291,119677,120204,120644,121094,121569,122081
253,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,1448,1456,1457,1460,1460,1461,1465,1465,1468,1472
254,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,148140,148583,148993,149621,150123,150663,151082,151690,152120,152579
255,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1425,1426,1426,1426,1427,1427,1427,1427,1428,1428
256,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,44133,45443,48000,49394,49696,50479,51305,52045,53410,54835
257,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,24872,25361,26044,26583,26794,27391,27759,28145,28383,28551

In [27]:
# Check if the replacement was correct

check_multiple = confirmed_global.iloc[:,0:2]

check_multiple.dropna(axis=0, inplace=True)

check_multiple.groupby(["Country/Region"]).count()

check_multiple_replacement = check_multiple.groupby(["Country/Region"]).count() 
check_multiple_replacement

                                  Province/State
Country/Region
Anguilla                                       1
Aruba                                          1
Australia                                      8
Bermuda                                        1
Bonaire, Sint Eustatius and Saba               1
British Virgin Islands                         1
Canada                                        16
Cayman Islands                                 1
Channel Islands                                1
China                                         33
Curacao                                        1
Falkland Islands (Malvinas)                    1
Faroe Islands                                  1
French Guiana                                  1
French Polynesia                               1
Gibraltar                                      1
Greenland                                      1
Guadeloupe                                     1
Isle of Man                                    1
Martinique                                     1
Mayotte                                        1
Montserrat                                     1
New Caledonia                                  1
Reunion                                        1
Saint Barthelemy                               1
Saint Pierre and Miquelon                      1
Sint Maarten                                   1
St Martin                                      1
Turks and Caicos Islands                       1
Wallis and Futuna                              1

Countries divided into provinces

In [28]:
# For countries divided into provinces the number of cases will be summed up

mask = check_multiple_replacement["Province/State"] > 1
multiple_countries = check_multiple_replacement[mask]
multiple_countries

                Province/State
Country/Region
Australia                    8
Canada                      16
China                       33

Function for summing up cases from all provinces for each country (Australia, China, Canada)

In [29]:
# Function for summing up cases from all provinces 
# automatically for each country

# Selects countries with duplicates (countries which are devided into regions) and calculate a sum of cases

def sum_country(df):
    
    column_names = list(multiple_countries.index.values)
    sum_pro_country =[]
    for country in column_names:
        
        # Select rows with duplicates (countries which are devided into regions)
        mask = df["Country/Region"] == str(country)
        df_mask = df[mask]
        #return df_mask
    
        # Drop first few columns, leave only columns with number of cases
        df_data = df_mask.drop(columns=['Province/State', 'Country/Region', 'Lat', 'Long'], axis=0)
    
        # Reset index and create new one with number of rows
        ## Define index values(h)
        h = np.arange(len(df_data.values))
        df_data.reset_index()
        df_data2 = df_data.set_index(h)
        # return df_data2
 
        # Transpose dataframe to make summing easier
        df_data2_trans = df_data2.transpose()
    
        # Sum up data from each row and for each day, and store results in "m" (sum for each country stored as a list)
        m=[]
        c=0
        for c in range(len(df_data2_trans)): 
            x = df_data2.iloc[0:h[-1]+1, c].sum()
            c = c + 1
            m.append(x)
        #return m
        
        # Store results for each country in "sum_pro_country"        
        sum_pro_country.append(m)  
    
    # Convert results into a dataframe to use "to_list()" function
    sum_pro_country2 = pd.DataFrame([sum_pro_country]).transpose()
    
    # Split the lists in column "0" which include all data points as a list (comes from "m")
    # to get dataframes with country name as an index and dates as column names
    end_result = pd.DataFrame(sum_pro_country2[0].to_list(), columns=df_data2.columns, index=multiple_countries.index.values)
    
    return end_result

Sum for each dataset and each country:

In [30]:
# Sum for each dataset
sum_deaths_global = sum_country(deaths_global)
sum_deaths_global

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
Australia,0,0,0,0,0,0,0,0,0,0,...,909,909,909,909,909,909,909,909,909,909
Canada,0,0,0,0,0,0,0,0,0,0,...,19801,19926,20005,20145,20242,20361,20486,20607,20700,20760
China,17,18,26,42,56,82,131,133,171,213,...,4814,4815,4817,4818,4820,4821,4822,4822,4822,4822

In [31]:
sum_confirmed_global = sum_country(confirmed_global)
sum_confirmed_global

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
Australia,0,0,0,0,4,5,5,6,9,9,...,28806,28811,28818,28823,28829,28838,28842,28848,28851,28857
Canada,0,0,0,0,1,1,2,2,2,4,...,774932,778782,782477,788197,791145,794412,798394,802530,805794,809001
China,548,643,920,1406,2075,2877,5509,6087,8141,9802,...,99848,99968,100063,100127,100177,100226,100268,100318,100348,100389

In [32]:
sum_recovered_global = sum_country(recovered_global)
sum_recovered_global

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
Australia,0,0,0,0,0,0,0,0,2,2,...,26045,26057,26061,26064,26070,26079,26080,26083,26086,26089
Canada,0,0,0,0,0,0,0,0,0,0,...,701306,706285,710699,718049,722002,726258,729768,726095,729371,732688
China,28,30,36,39,49,58,101,120,135,214,...,92321,92622,92779,92891,93060,93280,93459,93606,93752,93883

<b> Create a dataset with coordinates </b> <br>
(after replacing the country names)

In [33]:
# Create a dataset with the first 4 columns (after replacing the country names with overseas territories)

coordinates = confirmed_global_renamed.iloc[:,0:4]

# Save the table to a csv file 
coordinates.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/coordinates.csv", index=False)

coord = pd.read_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/coordinates.csv")
coord.head()

  Province/State Country/Region       Lat       Long
0            NaN    Afghanistan  33.93911  67.709953
1            NaN        Albania  41.15330  20.168300
2            NaN        Algeria  28.03390   1.659600
3            NaN        Andorra  42.50630   1.521800
4            NaN         Angola -11.20270  17.873900

Preparation for further steps

In [34]:
# Prepare dataframes for further steps

def prepare (df):
    
    # remove columns and set "Country/Region" as an index
    df_short = df.drop(columns=['Province/State', 'Lat', 'Long'], axis=0).set_index("Country/Region")
    
    # Rename US to United States
    df_short.rename(index={'US':'United States'},inplace=True)
    
    # Sort index alphabetically
    df_short.sort_index(inplace=True)

    return df_short

In [35]:
confirmed_global_short = prepare(confirmed_global_renamed)
confirmed_global_short.tail(5)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
Country/Region,,,,,,,,,,,,,,,,,,,,,
Wallis and Futuna,0,0,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,158168,158559,158962,159443,159956,160426,161087,161559,162029,162601
Yemen,0,0,0,0,0,0,0,0,0,0,...,2120,2120,2121,2122,2122,2122,2122,2124,2127,2127
Zambia,0,0,0,0,0,0,0,0,0,0,...,51624,53352,54217,55042,56233,57489,59003,60427,61427,62633
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,32952,33273,33388,33548,33814,33964,34171,34331,34487,34552

In [36]:
deaths_global_short = prepare(deaths_global_renamed)
deaths_global_short.tail(5)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
Country/Region,,,,,,,,,,,,,,,,,,,,,
Wallis and Futuna,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,1823,1831,1833,1840,1849,1857,1865,1867,1870,1881
Yemen,0,0,0,0,0,0,0,0,0,0,...,615,615,615,615,615,615,615,615,615,615
Zambia,0,0,0,0,0,0,0,0,0,0,...,728,745,763,780,794,804,812,828,839,853
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,1178,1193,1217,1234,1254,1269,1288,1303,1316,1326

In [37]:
recovered_global_short = prepare(recovered_global_renamed)
recovered_global_short.tail(5)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/29/21,1/30/21,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21
Country/Region,,,,,,,,,,,,,,,,,,,,,
Wallis and Futuna,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,148140,148583,148993,149621,150123,150663,151082,151690,152120,152579
Yemen,0,0,0,0,0,0,0,0,0,0,...,1425,1426,1426,1426,1427,1427,1427,1427,1428,1428
Zambia,0,0,0,0,0,0,0,0,0,0,...,44133,45443,48000,49394,49696,50479,51305,52045,53410,54835
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,24872,25361,26044,26583,26794,27391,27759,28145,28383,28551

Countries devided into provinces

In [38]:
# Remove duplicates and replace values with a sum

# df = "..._short" dataframes, prepared dataset ("prepare" function)
# df_sum - "sum_..."- dataframes ("sum_country" function)

def remove_duplicates(df, df_sum):
    
    # Remove duplicates, keep only first value that will be replaced with the sum
    df_noIndex = df.reset_index()
    df_noDuplicates = df_noIndex.drop_duplicates(subset="Country/Region", keep="first")
    df_noDuplicates2 = df_noDuplicates.set_index("Country/Region")
    
    # Replace remained values with the sum of cases from each province ("sum_..."- dataframes)
    column_names = list(multiple_countries.index.values)
    for country in column_names:
        df_noDuplicates2.loc[country] = df_sum.loc[country]

    return df_noDuplicates2

In [39]:
confirmed_global_cleaned = remove_duplicates(confirmed_global_short, sum_confirmed_global)
#confirmed_global_cleaned.head(20)
confirmed_global_cleaned.shape
# Expected shape: (219 - number of countries, number of all columns in an actual dataframe - 4)

(219, 383)

In [40]:
deaths_global_cleaned = remove_duplicates(deaths_global_short, sum_deaths_global)
#deaths_global_cleaned.head(20)
deaths_global_cleaned.shape
# Expected shape: (219 - number of countries, number of all columns in an actual dataframe - 4)

(219, 383)

In [41]:
recovered_global_cleaned = remove_duplicates(recovered_global_short, sum_recovered_global)
#recovered_global_cleaned.head(20)
#recovered_global_cleaned.loc["Canada"]
recovered_global_cleaned.shape
# Expected shape: (219 - number of countries, number of all columns in an actual dataframe - 4)

(219, 383)

Checking if the results are correct:

In [42]:
# Check if the results are correct
# Example: China

# Processed (cleaned) dataset:

confirmed_global_cleaned.loc["China"].head()
deaths_global_cleaned.loc["China"]

1/22/20      17
1/23/20      18
1/24/20      26
1/25/20      42
1/26/20      56
           ...
2/3/21     4821
2/4/21     4822
2/5/21     4822
2/6/21     4822
2/7/21     4822
Name: China, Length: 383, dtype: int64

In [43]:
# Raw dataset

mask = deaths_global["Country/Region"] == "China"
test = deaths_global[mask]
test = test.drop(["Province/State", "Lat", "Long"], axis=1).set_index("Country/Region")
test_sum = test.sum(axis=0)
test_sum
#test_sum.values

1/22/20      17
1/23/20      18
1/24/20      26
1/25/20      42
1/26/20      56
           ...
2/3/21     4821
2/4/21     4822
2/5/21     4822
2/6/21     4822
2/7/21     4822
Length: 383, dtype: int64

In [45]:
# Check if the results for all three countries (China, Australia, Canada) are correct using a function:

# df_cleaned = cleaned dataset with overseas territories as "Country" and sum of provinces "..._cleaned " 
# df_raw = initial dataset

def test (df_cleaned, df_raw):
    
    # Raw dataset
    column_names = list(multiple_countries.index.values)   
    t = []
    for country in column_names:
        
        # Calculate sum
        mask = df_raw["Country/Region"] == country
        test = df_raw[mask]
        test = test.drop(["Province/State", "Lat", "Long"], axis=1).set_index("Country/Region")
        test_sum = test.sum(axis=0)
        #test_sum.name = "sum_dataset_raw"
        
        # Append to the list "t"
        t.append(test_sum.values)
        
    # Convert list into dataframe
    sum_raw = pd.DataFrame([t], columns=column_names).transpose()
    # Split the "0" column 
    sum_raw = pd.DataFrame(sum_raw[0].to_list(), index=multiple_countries.index.values, columns=test.columns)
        #df_test_sum = pd.DataFrame([t], columns=multiple_countries.index.values)
        #df_test_sum_end = pd.DataFrame(df_test_sum[0].to_list(), columns=test.columns , index=multiple_countries.index.values)
    #return sum_raw
    
    # Cleaned dataset
    t2 = []
    for country in column_names:
            #test_cleaned = df_cleaned.drop(columns="total", axis=0)
            #test_cleaned2 = test_cleaned.loc[country]
        # Select data for each country and append to the list "t2"
        test_cleaned = df_cleaned.loc[country]
        t2.append(test_cleaned.values)
    
    # Convert list into dataframe    
    sum_cleaned = pd.DataFrame([t2], columns=column_names).transpose()
    # Split the "0" column 
    sum_cleaned = pd.DataFrame(sum_cleaned[0].to_list(),index=multiple_countries.index.values, columns=test.columns)
    #return sum_cleaned
        
    # Merge both dataframes
    
    df_merged = pd.concat([sum_cleaned, sum_raw], keys=["sum_cleaned", "sum_raw"]).transpose()
    return df_merged
    
    
    #df["test"] = np.where(df[country] == df["sum_dataset_raw"], "correct", "error")
    #return df 

        ##if df["test"].any() == "error":
           ## print(test_cleaned2.loc[country].name + ": error")
       ## else: print(test_cleaned2.loc[country].name + ": all correct")

In [46]:
test = test(confirmed_global_cleaned, confirmed_global)
test

        sum_cleaned                   sum_raw
          Australia  Canada   China Australia  Canada   China
1/22/20           0       0     548         0       0     548
1/23/20           0       0     643         0       0     643
1/24/20           0       0     920         0       0     920
1/25/20           0       0    1406         0       0    1406
1/26/20           4       1    2075         4       1    2075
...             ...     ...     ...       ...     ...     ...
2/3/21        28838  794412  100226     28838  794412  100226
2/4/21        28842  798394  100268     28842  798394  100268
2/5/21        28848  802530  100318     28848  802530  100318
2/6/21        28851  805794  100348     28851  805794  100348
2/7/21        28857  809001  100389     28857  809001  100389

[383 rows x 6 columns]

Calculated sum for each country in "cleaned" dataset is equal to the sum in the raw dataset <br>
 -> all functions work properly

<b> Save cleaned/prepared datasets to csv-files: </b>

In [48]:
# Cleaned datasets can be saved to csv-files: 

confirmed_global_cleaned.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/confirmed_global_cleaned.csv")
deaths_global_cleaned.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/deaths_global_cleaned.csv")
recovered_global_cleaned.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/recovered_global_cleaned.csv")

<b> Calculate cases per day </b>
<br>
As row datasets include only cumulative number of cases, cases per day will be calculated

In [54]:
# Function to calculate cases per day 

# df -> "_cleaned" dataset

def cases_per_day (df):
    # Transpose the dataframe
    df_trans = df.transpose()
    # reset the index
    df_trans_noIndex = df_trans.reset_index()

    # Calculate cases per day 
    k = []
    i = 1
    for i in range(len(df_trans_noIndex)):
        z = df_trans_noIndex.iloc[i,1:] - df_trans_noIndex.iloc[i-1,1:]
        k.append(z)
    
    # Dataframe with results of the substraction ("k") 
    df_diff = pd.DataFrame([k]).transpose()
    
    # Dataframe with splitted values of the previous df (all values were in one column, column"0")
    df_diff_corr = pd.DataFrame(df_diff[0].to_list(), index=df_trans.index.values)
    
    # Replace first row with the initial values
    df_diff_corr.iloc[0] = df_trans.iloc[0]
    #df_diff_corr.loc["total"] = df_trans.loc["total"]
    
    return df_diff_corr
    
    ### Only for testing! - Check if "total" is equal calculated "sum"
    ## Drop the "total" row to calculate and append the sum over all rows for each column
    #df_diff_corr_drop = df_diff_corr.drop(index="total")
    #calc_sum = df_diff_corr_drop.sum(axis=0)
    
    ## Append sum & "total" again and compare the results
    #df_diff_corr_test = df_diff_corr_drop.append(calc_sum, ignore_index=True)
    #df_diff_corr_test = df_diff_corr_test.append(df_trans.loc["total"], ignore_index=True)
    
    #return df_diff_corr_test

In [56]:
# cpr = Cases per day
#recovered_global_cpr = cases_per_day(recovered_global_cleaned)
recovered_global_cpr
recovered_global_cpr.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/recovered_global_cpr.csv")

In [58]:
#confirmed_global_cpr = cases_per_day(confirmed_global_cleaned)
confirmed_global_cpr.loc[:,"Germany"]
confirmed_global_cpr.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/confirmed_global_cpr.csv")

In [60]:
#deaths_global_cpr = cases_per_day(deaths_global_cleaned)
deaths_global_cpr
#deaths_global_cpr.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/deaths_global_cpr.csv")

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis and Futuna,West Bank and Gaza,Yemen,Zambia,Zimbabwe
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2/3/21,1,6,2,1,2,0,0,113,7,2,...,11,0,0,7,0,0,8,0,10,15
2/4/21,1,14,4,0,3,0,0,161,11,0,...,12,0,0,7,0,0,8,0,8,19
2/5/21,0,15,5,1,1,0,0,285,2,1,...,2,0,0,7,0,0,2,0,16,15
2/6/21,1,13,0,1,1,0,0,125,5,0,...,3,0,0,5,0,0,3,0,11,13
2/7/21,2,14,5,1,0,0,0,61,3,0,...,9,0,0,5,0,0,11,0,14,10

<b> Created datasets (csv): </b> <br> <br>
1) Cleaned datasets (cumulative number of cases) <br> 
confirmed_global_cleaned <br> 
deaths_global_cleaned <br> 
recovered_global_cleaned <br> <br>
2) Dataset with calculated cases per day <br> 
confirmed_global_cpr <br> 
deaths_global_cpr <br> 
recovered_global_cpr <br> <br>
3) Coordinates <br>
coordinates